@import "../styles/variables.scss";

.container {
  color: black;
  padding-bottom: $p3/2;
  // padding-top: $p3/1.2;
  position: relative;

  margin-left: 3%;
  margin-right: 3%;

  font-size: 3.5vw;
  color: white;
  font-family: "Montserrat";

  .clickable {
    background-color: rgba(178, 226, 216, 0.9);
    border-radius: 30px; /* Rounded corners all around */
    padding: 10px; /* Add padding for better text spacing */
  }

  // .clickable.open {
  //   border-radius: 20px 20px 0 0; /* Rounded corners only on the top when open */
  // }

  .answer {
    background-color: rgba(0, 0, 0, 0.141); /* Adjust the opacity as needed */
    color: white;
    font-family: "Montserrat";
    border-radius: 0 0 20px 20px; /* Rounded corners only on the bottom */
    padding: 10px; /* Add padding for better text spacing */
    margin: auto;
  }
}

.arrow {
  width: 30px;
  margin-right: 1% !important;
}

.star_plum {
  width: 3vw;
}

.line {
  height: 100%;
}

.link {
  color: #b2e2d8;
  font-weight: bold;
}

.qa_shape {
  position: relative;
  z-index: 3;
  overflow: hidden; /* Ensure child elements don't overflow rounded corners */
  
  .clickable {
    cursor: pointer;
    color: white;
  }

  .question {
    font-family: "Montserrat";
    font-weight: bold;
  }

  .both {
    width: $faq;
    text-align: left;
    padding: $p1/3 $p1/2 $p1/3 $p1/2;
  }
}

.title {
  font-family: "Horse Saguaro" !important;
  font-weight: normal !important;
  font-size: 1em !important;
  color: white;
}

.registration {
  margin-top: 10vw;
  font-size: 3vw;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.note {
  font-family: "Montserrat" !important;
  font-weight: normal !important;
  font-size: 1.5vw !important;
}

.travel {
  margin-top: 7vw;
  font-size: 2.25vw;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1441px) {
  .title {
    font-size: 1.2em !important;
  }
   
  .note {
    font-size: 2vw !important;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 1.4em !important;
  }

  .note {
    font-size: 2.7vw !important;
  }
}

@media (max-width: 480px) {
  .faq_box {
    .title {
      // font-size: $headerMobile;
    }
  }
  .qa_shape {
    .question {
      font-size: $pv2;
      color: white;
    }
    .answer {
      font-size: $pv2/1.2;
    }
    .both {
      padding-left: 2vw;
    }
  }
}
