@import "../styles/variables.scss";

.register_now:hover {
  animation: scale 1000ms ease-in-out;
}
@keyframes scale {
  to {
    transform: scale(1.2);
  }
}

@media only screen {
  .main {
    width: 100%;
    // height: 130vh;
    height: 75vw;
    // max-height: 100vw;
    // zoom: 2;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    // background-image: url("/svg/home/sky.svg");
    // background-repeat: no-repeat;
    // background-position-y: top;
    // background-position-x: center;
    // background-size: contain;

    // position: absolute;
    // top: -100px;

    position: relative;
    // align-content: center;
  }

  .title {
    position: absolute;
    width: 50%;
    height: auto;
    object-fit: contain;
    top: 15%;
    left: 25%;
  }

  .air_balloon {
    position: absolute;
    width: 15%;
    max-width: 300px;
    top: 22%;
    left: 5%;
    z-index: 3;
  }

  .ferris_wheel {
    position: absolute;
    width: 30%;
    // max-width: 500px;
    right: 5%;
    bottom: 22%;
  }

  .firework {
    position: absolute;
    width: 13%;
    left: 44%;
    bottom: 36%;
  }

  .clouds {
    position: absolute;
    top: 16%;
    width: 95%;
  }

  .ticket_booth {
    position: absolute;
    bottom: 20%;
    width: 9%;
  }

  .main_tent {
    position: absolute;
    left: 10%;
    bottom: 4%;
    width: 45%;
    z-index: 3;
  }

  .popcorn_stand {
    position: absolute;
    right: 31.5%;
    bottom: 15%;
    width: 12%;
  }

  .candy_stand {
    position: absolute;
    right: 0%;
    bottom: 9%;
    width: 15%;
  }

  .grass_h1, .grass_h2 {
    position: absolute;
    width: 2%;
    z-index: 5;
  }

  .grass_h1 {
    left: 20%;
    bottom: 3.75%;
  }

  .grass_h2 {
    left: 42%;
    bottom: 3.75%;
  }
}

@media only screen and (max-width: 1441px) {
  // .title {
  //   top: 15%;
  // }

  // .air_balloon {
  //   top: 20%;
  // }

  // .ferris_wheel {
  //   top: 25%;
  //   padding: 0;
  // }

  .popcorn_stand {
    right: 31.5%;
    bottom: 15%;
  }
}

@media (max-width: 800px) {
  .main {
    .title {
      top: 15%;
    }

    .air_balloon {
      top: 23%;
    }

    .ferris_wheel {
      bottom: 17%;
    }

    .candy_stand {
      width: 12%;
    }

  }
}