@import "../styles/variables.scss";

.candyShop {
  height: 16vw; // or 200px
  z-index: 1;
}

.candyBear {
  height: 8vw; // or 100px
  position: relative;
  top: 2vw;
  left: 4vw;
  z-index: 10;
}

.balloonBear {
  height: 25vw;
  display: flex;
  align-self: start;
  position: relative;
  top: -10vw;
  left: 6vw;
}

.aboutStack {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .aboutStack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutEllipse {
    display: none;
  }

  .laptop {
    display: none;
  }

  .aboutBanner {
    display: none;
  }

  .about {
    .aboutStack {
      width: 90%;
    }

    .aboutNotepad {
      width: 90%;
    }

    .aboutNotepadText {
      width: 90%;
    }

    .alert {
      width: 90%;
      word-wrap: break-word;
    }

    .registerNowText {
      font-size: 11px;
    }

    .registrationGrid {
      height: 100px;
    }
  }
}

@media only screen and (max-width: 1441px) {
  .about {
    width: 100% !important;
    zoom: 1.33 !important;
  }
}
