@import "variables.scss";

* {
  scroll-behavior: smooth;
  // background-image: url("../public/svg/global/circus-background.svg");
}

@font-face {
  font-family: "Horse Saguaro";
  src: url("/font/HorseSaguaro-9MMy7.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Regular.ttf");
  font-weight: normal;
}
