@import "variables.scss";

.main {
  position: relative;
  // background-size: 8px 80px !important;
  // background-color: #C2EAF3
}

.circus_bg {
  background-color: #FFF4BD;
  background-image: url("../public/svg/global/circus-background.svg");
  background-repeat: no-repeat;
  background-position-y: 5vw;
  background-position-x: center;
  background-size: cover;
}
